body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Roboto";
}


header {
    width: 100%;
    height: 920px;
}

.photo {
    position: absolute;
    left: 0;
    z-index: -1;
    /* opacity: .5; */
    height: 980px;
    background-color: #11998e;
}

.sale-off {
    direction: rtl;
}

.sale-off p {
    font-size: 200px;
    font-weight:lighter;
}
.sale-left h1 {
    font-size: 40px;
    margin-bottom: 60px;
}

.sale-left h3 {
    margin-bottom: 60px;
}
.sale-left p {
    margin-bottom: 2px;
}

.sale-left {
    font-size: 20px;
}

.sale-off button{
    width: 80%;
}

main {
    margin-top: 100px;
}

.main-cards {
    background-color: #bdc3c7;
}

.main-btn {
    width: 100%;
}

.main-content img{
    border-radius: 200px;
}

.main-pay img {
    border-radius: 200px;
}

.main-pay a {
    width: 20%;
}

.person img {
    border-radius: 100px;
}

.person-image {
    background-color: #11998e;
}

.email {
    background-color: #ffe000;
}

footer {
    background-color: #11998e;
}

.foot-links a {
    padding-top: 20px;
}

footer a {
    text-decoration: none;
}







@font-face {
    font-family: "Roboto";
    src: url(./Roboto-Light.ttf);
}